* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: ghostwhite;
}

#body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 33.3333%;
}

.league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
}
.team {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px blue dotted;
}

img.welcomeLeaguePic {
    width: 15vw;
    height: 15vw;
    /* object-fit: cover; */
}

img.welcomeTeamPic {
    /* width: 7vw; */
    height: 7vw;
}

div.league h1 {
    width: 240px;
}

.specTeamsContainer {
    display: flex;
    flex-direction: column;
}

.leagueTeamsHeader,
.specTeamsHeader,
.specUpcMatchHeader,
.specUpcMatchBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    gap: 2vw;
}

.specUpcMatchHeader {
    justify-content: space-around;
}

.specUpcMatchBody {
    flex-direction: column;
    justify-content: center;
}

.specTeamsBody,
.specLeagueBody,
.leagueTeamsBody,
.specUpcMatchContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.specTeamData {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
}

.competitionPicHeader,
.teamPicHeader {
    width: 5vw;
}

.teamPicBody,
.teamFlagBody {
    width: 20px;
    height: 20px;
}

td,
th {
    text-align: left;
    font-size: 1.1vw;
}

.teamAndPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.tableTeamPic {
    width: 2vw;
    height: 2vw;
}

.specMatchLogo {
    width: 4vw;
    height: 4vw;
}

/* .right {
    flex-direction: row-reverse;
} */
